 {% extends 'base.html.twig' %}

{% block title %}Compte - SAFER{% endblock %}

{% block content %}
    <h1>Mon Compte</h1>
    Bienvenue {{ app.user.firstname }} dans votre compte SAFER, //pour recupérer le nom de l'utilisateur connecté
    -
    -
    -
    -
    -
{% endblock %}