{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - SAFER{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe </h1>
    <hr>
    <a href="{{ path('account') }}"> Retourner à mon compte </a><br>
    <hr>
    Pour modifier le numéro, il est nécessaire de connaître son mot de passe actuel,
    Si vous voulez changer votre numéro uniquement.Saisissez à nouveau votre mot de passe actuel dans les champs " Mon nouveau mot de passe "
    et " Confirmation du nouveau mot de passe " pour que le changement soit pris en compte.
    <hr>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    <hr>
    {{ form(form)}}
    <hr>
{% endblock %}