{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content %}
        <!-- Three columns of text below the carousel -->
        <div class="row">
            {% for bien in biens %}
            {# {% include 'Biens/single_bien.html.twig' %} #}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ asset('/uploads/'~ bien.illustration) }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{bien.title}}</h5>
                    <span class="card-text">{{bien.description}}</span>
                    <br><span class="Biens.price">{{ (bien.price / 100)|number_format(2,',','.') }} €</span><br>
                    <hr>
                </div>

            </div>
            {% endfor %}
        </div><!-- /.row -->

{% endblock %}