.body {
    position: fixed;
}


.navbar-item-custom a {
    color: #FFFFFF;
}

.footer-custom {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: #c6c8ca;
    padding-top: 30px;
    padding-bottom: 13px;
    margin-bottom: -50px;
}
