.navbar-item-custom a {
    color: #FFFFFF;
}

.footer-custom {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #c6c8ca;
    padding-top: 15px;
}

.Biens-item h5{
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}

.Biens-item {
    margin-top: 50px;
}

.Biens-item .Biens-description {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.Biens-item .Biens-price {
    font-size: 15px;
    font-weight: bold;
}

.Biens-container{
    margin-bottom: 200px;
}

.bien-page-price{
    font-width: bold;
    font-size: 19px;
}