{% extends 'base.html.twig' %}

{% block content %}
    <h1>Inscription</h1>
    <p>Pour créer un nouveau compte</p>
    <hr>
    {% for message in app.flashes('notice')%}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    <hr>
    {{ form(form) }}
{% endblock %}
