{% extends 'base.html.twig' %}

{% block title %}Nos biens - SAFER{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <h3>LES CATEGORIES</h3>
            {{ form(form) }}
        </div>
        <div class="col-md-9">
            <h3>NOS BIENS IMMOBILIERS</h3>

            <div class="row bien-container">
                {% for Biens in biens %}
                    <div class="col-md-4">
                        {% include 'Biens/single_bien.html.twig' %}
                    </div>
                {% endfor %}
             </div>
        </div>
    </div>
{% endblock %}